*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Iceberg", sans-serif;
    font-weight: 400;
    font-style: normal;
}

img{
    display: block;
    align-items: center;
    margin: 10px auto;
    width: 350px;
}

#searchInput{
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 30px;
    border: 2px solid #011A54;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

#searchInput::placeholder{
    color:#0158F6;
    text-align: center;
    align-items: center;
    opacity: 0.5;
}

#searchInput:focus{
    box-shadow: 0 0 10px #0158F6;
}

#searchButton{
    display: block;
    margin: 10px auto;
    width: 100px;
    height: 30px;
    border: 2px solid #011A54;
    border-radius: 10px;
    background-color: #0158F6;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.4s ease;
}

#searchButton:hover{
    transform: scale(1.1);
}

#searchButton:active{
    transform: scale(0.9);
    box-shadow: 0 0 10px #0158F6;
}

#searchResult{
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 30px;
    border: 2px solid #011A54;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

#searchResult::placeholder{
    color:#0158F6;
    text-align: center;
    align-items: center;
    opacity: 0.5;
}


footer{
    color: #0158F6;
    text-align: center;
    margin-bottom: 0;
    padding: 10px;
}